body{
    background:#D5D8DC;
}
.table1{
    width: 700px;
    height:800px;
    align-items: center;
}
.td1{
    
    padding-left: 20px;
    width: 250px;
    background-color:darkslategrey;
    color:white;

}
.pic{
    background-attachment: fixed;
    position: sticky;
    left: 2%;
    top:0%;
    border-radius:50%;
    height:100px;
   
}
b{
    color: black;
}
.td2{
    position: relative;
    padding: 10px;
    left: 2%;
    width:500px;
    
}
hr{
    
    color: black;
}
.career{
    font-size:20px;
}
.education{
    font-size:18px;
    line-height: 1.6;
}
.project{
    font-size:18px;
   
}
.seminar{
    font-size: 18px;

}
.skill{
    font-size: 18px;
    line-height: 1.6;
}
.softskill{
    font-size: 18px;
}
.visit{
    font-size: 18px;
}
.td3{
  background-color: antiquewhite;  
}

   